wifi_ssid: replace-with-observatory-ssid
wifi_password: replace-with-observatory-wifi-password
hvo_bluetooth_proxy_api_encryption_key: replace-with-esphome-generated-base64-key
hvo_bluetooth_proxy_ota_password: replace-with-a-unique-ota-password
hvo_bluetooth_proxy_fallback_password: replace-with-a-unique-fallback-password
